/* ========common font style type======== */

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.primary-color{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    
    border: 0;
    font-size: 20px;
    color: #141414;
    padding: 15px 35px;
    font-weight: 700;
}
.btn-primary:hover{
    background-color: #FD6E0A;
    color: #FFF8F3;
    transition: all linear 0.3s;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.section-desc{
    font-size: 18px;
    font-weight: 400;
    color: #474747;
    text-align: center;
}
main section{
    margin-top: 130px;
}

/* ---------common style ends hare------------ */

/* =====nav bar start hare===== */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-left: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* =========== nav bar ends hare=========== */

/* =======banner part start hare ======= */


.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}





.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 400px;
}
.banner .profile-pic{
    width: 400px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #000000f3;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-des{
    font-weight: 400px;
    font-size: 15px;
    color: #474747;
    margin-bottom: 30px;
}
#banner-btn-down{
    margin-right: 30px;
}

/* ========banner part end hare=========== */


/* ========about me start hare========= */


main{
    width: 1040px ;
    margin: 0 auto;
}
.about{
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
   
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 0;
}
.info-desc{
    margin-top: 5px;
    font-size: 20px;
}

/* =========== about enda hare ============= */


/* -==========skills part start hare ============== */

#ido-desc{
    padding: 20px 150px;
}

.skills-container{
    display: flex;
    gap: 24;
}
.skill{
    padding: 30px;
    border-radius: 5xp;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    
}
.skill-title{
    font-size: 20px;
    font-weight: 700;
    color: #141414;
}
.skill-desc{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}


/* -------------skill part end hare ----------------- */


/* =============resume part start hare =============-- */


.resume-container{
    display: flex;
    gap: 70px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.resume-item-title{
    font-size: 25px;
    font-weight: 700;
    color: rgba(1, 0, 0, 0.856);
    margin-bottom: 10px;
}
.resume-item-int{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-int,
.resume-item-desc{
    color: #757575;
}
.resume-container hr{
    margin: 20px;
}


.download-cv{
    text-align: center;
    margin-top: 50px;
}



/* ==============resume part end hare =================== */




/* -------------footer part start hare ------------ */

footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column{
    width: 50%;
}
.social-links a{
    margin-right:25px ;
}

.contact input[type="text"],input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px ;
    background-color: #fff;
    border: 0;
    width: 100%;

}

/* -------------footer part end hare --------------------- */